.content{
    width: 100%; 
    height:25px; 
    background-color: black; 
    color: aliceblue;
}
.mark{
   margin-left: 200px; 
   background-color: black; 
   color: aliceblue;
}
a:hover {
    border-bottom:2px solid red; 
    position: relative;
    /* top: 10px;  */
}
.indicator1{
    height: 4.125rem;
    width:  3.125rem;
    background-color:rgba(240,248, 255, 0.8);
}
h1{
    font-family: "RedHatDisplay",sans-serif;
}
h1{
    text-align: center;
}
h3{
    margin-top: 45px;
    font-family: "RedHatDisplay",sans-serif;
    text-align: center;

}
#first1{
   margin-left:100px;
   margin-top: 50px;
   height: 350px;
   width: 250px; 
   background-image: url("./Images/analog_home.jpg");
   background-size: cover;
}
#first2{
    margin-left:50px;
    margin-top: 50px;
   height: 350px;
   width: 250px; 
   background-image: url("./Images/Smart_category.jpg");
   background-size: cover;
}
#first3{
    margin-left:50px;
    margin-top: 50px;
   height: 350px;
   width: 250px; 
   background-image: url("./Images/hearable.jpg");
   background-size: cover;
}
.tw-category-tile__content {
    color: #fff;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 500;
    padding-left: 70px;
    padding-top: 320px;
    max-width: unset;
    font-family: "RedHatDisplay",sans-serif;
}
#text1{
    padding-left: 0px;
    margin-top: 15px;
    font-family: "RedHatDisplay",sans-serif;
    width: 50px;
}

#text1 h3{
    
    writing-mode: vertical-lr;

}
h1{
    font-family: "RedHatDisplay",sans-serif;
}

 #launch{
    
    height:300px;
    background-image: url("./Images/launch_watch.jpg");
    background-size: cover;
    margin-left: 100px;
    animation:  slideInLeft ease-in 5s;

  }
  @keyframes slideInLeft {
    from{
        transform:translateX(-300px);
    }
    to{
        transform:translateX(0) ;
    }
    
  }
  #description{
    
    text-align: center;
    padding-top: 40px;
    animation:  slideInLeft ease-in 2s;
    background-color: aliceblue;


  }
  .pm-date{
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .24em;
    margin-top: 25px;
    /* margin-left: 100px; */
  }
  .discount{
    color: orangered;
  }
  .pm-title{
    font-size: 1.5625em;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: .16em;
    margin-top: 0;
    margin-bottom: 0.7em;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    -o-hyphens: manual;
    hyphens: manual;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 

}
.waviy {
    position: relative;
    text-align: center;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
@media screen and (max-width:768px)
{
    #first1{
        margin-left:0px ; 
        width:100%;
    } 
    #first2{
        width: 100%;
        margin-left:0px ; 

    } 
    #first3{
        width: 100%;
        margin-left:0px ; 

    }
    #launch{
        margin-left: 0px;
      }
    .tw-category-tile__content{
           padding-left: 135px;
    }
    .carousel-control-prev,.carousel-control-next{
        display: none;
    }
    img{
        vertical-align: middle;
    }
    /* #carouselExampleIndicators{
        height: 400px;
    } */
    #preorder{
        width:100%;

    }
    #card1{
         margin-top: 15px;
    }
    #card2{
        margin-top: 15px;

    }
    #card3{
        margin-top: 15px;

    }
    #card4{
        margin-top: 15px;

    }

}