.content1{
  width: 100%; 
  height:25px; 
  background-color: black; 
  color: aliceblue;
}
.mark{
 margin-left: 200px; 
 background-color: black; 
 color: aliceblue;
}
a:hover {
  border-bottom:2px solid red; 
  position: relative;
  /* top: 10px;  */
}
.indicator1{
  height: 4.125rem;
  width:  3.125rem;
  background-color:rgba(240,248, 255, 0.8);
}
h1{
  font-family: "RedHatDisplay",sans-serif;
}
h1{
  text-align: center;
}
.carousel-indicators button {
border-radius: 50% !important;
width: 10px !important;
height: 10px !important;
}

h3{
  margin-top: 45px;
  font-family: "RedHatDisplay",sans-serif;
  text-align: center;

}
#first1{
 margin-left:100px;
 margin-top: 50px;
 height: 350px;
 width: 250px; 
 background-image: url("./Images/analog_home.jpg");
 background-size: cover;
}
.vibe{
display: flex;
/* justify-content: center;  */
flex-wrap: wrap;
}
.vibe1{
margin-left: 120px;

}
.vibe2{
margin-left: 50px;
}
.vibe3{
margin-left: 50px;
}
#first2{
  margin-left:50px;
  margin-top: 50px;
 height: 350px;
 width: 250px; 
 background-image: url("./Images/Smart_category.jpg");
 background-size: cover;
}
#first3{
  margin-left:50px;
  margin-top: 50px;
 height: 350px;
 width: 250px; 
 background-image: url("./Images/hearable.jpg");
 background-size: cover;
}
.tw-category-tile__content {
  color: #fff;
  font-size: .75rem;
  line-height: 1rem;
  font-weight: 500;
  padding-left: 70px;
  padding-top: 320px;
  max-width: unset;
  font-family: "RedHatDisplay",sans-serif;
}
#text1{
  padding-left: 0px;
  margin-top: 15px;
  font-family: "RedHatDisplay",sans-serif;
  width: 50px;
}
.pictures{
width:300px;
height:400px;

}

#text1 h3{
  
  writing-mode: vertical-lr;

}
h1{
  font-family: "RedHatDisplay",sans-serif;
}

#launch{
  
  height:300px;
  background-image: url("./Images/launch_watch.jpg");
  background-size: cover;
  margin-left: 100px;
  /* animation:  slideInLeft ease-in 5s; */

}
@keyframes slideInLeft {
  from{
      transform:translateX(-300px);
  }
  to{
      transform:translateX(0) ;
  }
  
}
#description{
  
  text-align: center;
  padding-top: 40px;
  /* animation:  slideInLeft ease-in 2s; */
  background-color: aliceblue;


}
.pm-date{
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .24em;
  margin-top: 25px;
  /* margin-left: 100px; */
}
.discount{
  color: orangered;
}
.pm-title{
  font-size: 1.5625em;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: .16em;
  margin-top: 0;
  margin-bottom: 0.7em;
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  -o-hyphens: manual;
  hyphens: manual;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; 

}
.style1{
background-color: rgb(245, 129, 5); 
color: aliceblue;
display: inline;
/* transition: all 1s ease-in-out; */
transform: skew(80deg);
transform-origin: top left;
}
.caption{
background-color: black;
color: aliceblue;
width: 300px;
text-align: center;
}



.waviy1 {
  position: relative;
  text-align: center;
}
.waviy1 span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
#gallery{
  height: 300px;
}
#gallery1{
  height: 300px;
}
#smartness{
  height:250px;
}
#section{
  border: 0;
}
.carousel-control-prev-icon {
  filter: invert(100%); /* Invert the color to black */
}
.carousel-control-next-icon{
  filter: invert(100%); /* Invert the color to black */

}
#follow{
  display: grid;
  gap: .5em;
  grid-template-areas: 
  "one two three"
  "one four five";
  grid-template-columns: 1fr 20% 20% ;
}
#follow div {
  position: relative;
}
#follow div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Light black overlay color */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;


}
#follow div:hover::before {
opacity: 1;
}
#follow div::after {
content: "\f16d"; /* Instagram icon content */
font-family: "Font Awesome 6 Brands";
font-size: 2em;
color: #B197FC;
opacity: 0;
transition: opacity 0.3s ease;
display: flex;
justify-content: center;
align-items: center;
padding-top: 45%;
left: 50%;
}
#follow div:hover::after {
opacity: 1;
}
#follow div:first-child{
  grid-area: one;
  height: 450px;
}
.div1{
  background: url("./Images/medium.jpg");
  background-size: cover;
}
.div2{
  background: url("./Images/low_resolution.jpg");
  background-size: cover;

}
.div3{
  background: url("./Images/photoCard.jpg");
  background-size: cover;

}
.div4{
  background: url("./Images/snaap.jpg");
  background-size: cover;

}
.div5{
  background: url("./Images/cream.jpg");
  background-size: cover;

}

.div1:hover .over{
  opacity: 0.8;
}
.div2:hover .over{
  opacity: 0.8;
} .div3:hover .over{
  opacity: 0.8;
} 
.div4:hover .over{
  opacity: 0.8;
}
.div5:hover .over{
  opacity: 0.8;
}
.footer{
  background-color: beige;
}
.cent3{
  text-align: center;
}

@media screen and (max-width:767px)
{
  body{
    overflow-x: hidden;
  }
  #first1{
     
      width:100%;
      margin-left:0px ; 

  } 
  #first2{
      width: 100%;
      margin-left:0px ; 

  } 
  #first3{
      width: 100%;
      margin-left:0px ; 

  }

  #launch{
      margin-left: 0px;
    }
  .tw-category-tile__content{
         padding-left: 135px;
  }
  .carousel-control-prev,.carousel-control-next{
      display: none;
  }
 
  /* #carouselExampleIndicators{
      height: 400px;
  } */
  #preorder{
      width:100%;

  }
  #card1,#card2,#card3,#card4{
       margin-top: 15px;
  }
  
 #gallery1{
      display: none;
  }
 .vibe {
    flex-direction: column; /* Stack items vertically for smaller screens */
    align-items: center; /* Center items vertically */
  }
.vibe > div {
    flex-basis: 100%; /* Full width for smaller screens */
    margin: 0 0 20px 0; /* Adjust margin as needed */
  }
#follow {
  grid-template-areas: 
  "one two three"
  "one four five";
  grid-template-columns: 50% 25% 25%;
}
#follow div:first-child {
  height: 200px; 

} 
.div2,.div3,.div4,.div5{
  padding: 4px;
  height: 95px;
  width:100px;
}
.carousel-item img{
 height:200px;
}
}